.div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    margin-right: 2%;
    text-align: center;
}

.div p {
    font-size: 15px;
    font-weight: bold
}

.div img {
    height: 300px;
    width: 225px;
}

.div a {
    text-decoration: none;
    color: black;
}